@import "../../../../assets/scss/variables";

.tv-detail-wrapper {
  width: 100%;
  height: 100%;
  padding: 25px;

  background-color: $background;
  border-radius: 15px;

  color: $foreground;

  .header {

display: flex;
align-items: center;
align-self: start;
justify-content: space-between;

width: 100%;
margin-bottom: 10px;

  h2 {
    padding-left: 10px;
  }

  .power-btn {
    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    .mat-icon {
      width: 50%;
    }

    &.active {
      color: $accent;
      background-color: rgba($foreground, 0.05);
    }
  }
  }
}


mat-dialog-container .mat-mdc-dialog-surface {
  background-color: $background !important;
  border-radius: 15px !important;
}
