@import "../../../../assets/scss/variables";

.fan-detail-wrapper {
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-bottom: 50px;

  color: $foreground;

  background-color: $background;
  border-radius: 15px;

  .header {
    display: flex;
    align-items: center;
    align-self: start;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10px;

    h2 {
      padding-left: 10px;
    }

    .power-btn {
      cursor: pointer;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      transition: $transition;

      &.active {
        color: $accent;
        background-color: rgba($foreground, 0.05);
      }

      &:hover {
        color: $accent;
      }
    }
  }

  .fan-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    .speed {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100%;
      margin-top: 20px;
      padding: 0 20px;
      padding-bottom: 30px;

      h3 {
        margin: 0;
      }

      .speed-buttons {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;

        width: 100%;

        .speed-btn {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 40px;
          height: 40px;

          border-radius: 50%;

          transition: $transition;

          &:hover {
            color: $accent;
            background-color: rgba($foreground, 0.05);
          }
        }
      }

      .mat-mdc-slider {
        align-self: center;
        width: 100%;
        color: $accent;
      }
    }

    .oscillation {
      display: flex;
      width: 100%;
      padding: 0 20px;
      padding-top: 30px;

      .row {
        display: flex;
        gap: 40px;
        align-items: center;
        width: 100%;

        .direction-controls {
          display: flex;
          flex-grow: 1;
          gap: 25px;
          align-items: center;
          justify-content: flex-end;

          .direction-btn {
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            border-radius: 50%;

            transition: transition;

            &:hover {
              color: $accent;
              background-color: rgba($foreground, 0.05);
            }
          }
        }
      }
    }

    .modes {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;

      width: 100%;
      margin-top: 50px;

      .mode-btn {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 75px;
        height: 75px;
        padding: 15px;

        border-radius: 50%;

        transition: $transition;

        mat-icon {
          width: 100%;
          height: 100%;
        }

        &:hover,
        &.active {
          color: $accent;
          background-color: rgba($foreground, 0.05);
        }
      }
    }

    .separator {
      width: 90%;
      height: 2px;
      border-bottom: 2px solid rgba($foreground, 0.2);
    }
  }
}

mat-dialog-container .mat-mdc-dialog-surface {
  max-width: 1300px !important;
  background-color: $background !important;
  border-radius: 15px !important;
}
