@import "../../../../assets/scss/variables";

.player-wrapper {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 25px;

  .cover-img img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .player-footer {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px;

    color: $foreground;

    background-color: rgba($background, 0.75);
    backdrop-filter: blur(4px);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    .song-info {
      width: 100%;
      padding: 10px 0;

      font-size: 20px;
      font-weight: 500;
      white-space: nowrap;

      p {
        overflow: hidden;
        margin: 0;
        text-overflow: ellipsis;
      }
    }

    .actions {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 20px;

      .controls {
        display: flex;
        flex-grow: 1;
        gap: 30px;
        justify-content: center;

        mat-icon {
          cursor: pointer;
          font-size: 32px;
        }
      }

      .volume {
        flex-grow: 1;

        .mat-mdc-slider {
          width: 100%;
        }
      }
    }

    .progress {
      width: 100%;
    }
  }
}

.mat-mdc-progress-bar {
  height: 6px !important;
  border-radius: 10px;
}

.mdc-linear-progress__bar-inner {
  border-top-width: 6px !important;
}
