@import "@angular/material/theming";

@include mat.core();

$primary: (
  50: #e3eff7,
  100: #c3d7e0,
  200: #a2bac7,
  300: #809fae,
  400: #678a9b,
  500: #4d7689,
  600: #416778,
  700: #335462,
  800: #26414d,
  900: #162c37,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$complementary: (
  50: #f6ece5,
  100: #e0cfc7,
  200: #c8b0a5,
  300: #ae9182,
  400: #9b7867,
  500: #88614d,
  600: #7b5745,
  700: #6b4a3b,
  800: #5c3e33,
  900: #4c3028,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$analogous-1: (
  50: #e4f0ef,
  100: #bedbd7,
  200: #97c4be,
  300: #77ada5,
  400: #679b92,
  500: #5e8a81,
  600: #587d75,
  700: #516d66,
  800: #4b5d58,
  900: #3a423f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$analogous-2: (
  50: #e9eaf0,
  100: #c7cbdc,
  200: #a3aac4,
  300: #8189ac,
  400: #67709b,
  500: #4f578c,
  600: #485083,
  700: #404677,
  800: #383d6a,
  900: #2a2c58,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$triadic-1: (
  50: #ebe9f0,
  100: #cec8dc,
  200: #aea5c4,
  300: #8f81ad,
  400: #78679b,
  500: #634f8b,
  600: #5c4985,
  700: #52417b,
  800: #493b71,
  900: #3b2f63,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$triadic-2: (
  50: #ede4ea,
  100: #d4bbcc,
  200: #b88faa,
  300: #9b678a,
  400: #864c73,
  500: #793163,
  600: #6f2c5e,
  700: #612556,
  800: #551f4e,
  900: #401340,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$palette-primary: mat.define-palette($primary, 400, 200, 700);
$palette-accent: mat.define-palette($complementary, 400, 200, 700);
$palette-warn: mat.define-palette($triadic-2, 400, 200, 700);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $palette-primary,
      accent: $palette-accent,
      warn: $palette-warn,
    ),
  )
);

@include mat.all-component-themes($theme);
