<!-- <ng-content></ng-content> -->

<!-- <mat-paginator [length]="10" [pageSize]="4" (page)="onPage()"></mat-paginator> -->
<div
  class="card-grid"
  (swipe)="onSwipe($event)"
  (dndDrop)="onDrop($event, currCards)"
  [dndDropzone]="['card']"
>
  <div class="card placeholder" dndPlaceholderRef></div>
  <div
    class="card"
    *ngFor="let card of currCards"
    [dndDraggable]="card"
    dndType="card"
    (dndCanceled)="onDragged(card, currCards, 'none')"
    (dndCopied)="onDragged(card, currCards, 'copy')"
    (dndLinked)="onDragged(card, currCards, 'link')"
    (dndMoved)="onDragged(card, currCards, 'move')"
    (dndStart)="onDragStart($event, card, currCards)"
    [dndDisableDragIf]="!editMode"
    dndEffectAllowed="move"
  >
    <ng-container [ngSwitch]="card.type">
      <app-entity-card
        *ngSwitchCase="'entityCard'"
        [card]="card"
      ></app-entity-card>
      <app-light-card
        *ngSwitchCase="'lightCard'"
        [card]="card"
      ></app-light-card>
      <app-tv-card *ngSwitchCase="'tvCard'" [card]="card"></app-tv-card>
      <app-speaker-card
        *ngSwitchCase="'speakerCard'"
        [card]="card"
      ></app-speaker-card>
      <app-fan-card *ngSwitchCase="'fanCard'" [card]="card"></app-fan-card>
      <app-sensor-card
        *ngSwitchCase="'sensorCard'"
        [card]="card"
      ></app-sensor-card>
    </ng-container>
  </div>
</div>
