<!-- <ng-content></ng-content> -->

<!-- <mat-paginator [length]="10" [pageSize]="4" (page)="onPage()"></mat-paginator> -->
<div class="card-grid" (swipe)="onSwipe($event)">
  <div class="card" *ngFor="let card of currCards">
    <ng-container [ngSwitch]="card.type">
      <app-entity-card
        *ngSwitchCase="'entityCard'"
        [cardOptions]="card.cardOptions"
      ></app-entity-card>
      <app-light-card
        *ngSwitchCase="'lightCard'"
        [cardOptions]="card.cardOptions"
      ></app-light-card>
      <app-tv-card
        *ngSwitchCase="'tvCard'"
        [cardOptions]="card.cardOptions"
      ></app-tv-card>
      <app-speaker-card
        *ngSwitchCase="'speakerCard'"
        [cardOptions]="card.cardOptions"
      ></app-speaker-card>
      <app-fan-card
        *ngSwitchCase="'fanCard'"
        [cardOptions]="card.cardOptions"
      ></app-fan-card>
      <app-sensor-group *ngSwitchCase="'sensorGroup'">
        <ng-container *ngFor="let sensor of card.sensors">
          <app-sensor [sensorOptions]="sensor"></app-sensor>
        </ng-container>
      </app-sensor-group>
    </ng-container>
  </div>
</div>
