.card-grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;

  $card-gap: 15px;
  gap: $card-gap;
  aspect-ratio: 1/1;

  app-entity-card,
  app-light-card,
  app-sensor-group {
    display: block;

    width: calc(50% - $card-gap/2);

    aspect-ratio: 1/1;
  }

  .card {
    display: block;

    width: calc(50% - $card-gap/2);

    aspect-ratio: 1/1;

    app-light-card,
    app-entity-card,
    app-sensor-group {
      width: 100%;
      height: 100%;
    }
  }
}
