@import "src/variables";

.card-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  aspect-ratio: 1/1;
  padding: 20px;

  color: $foreground;

  border: 2px solid rgba($foreground, 0.2);
  border-radius: 5%;

  .entity-icon {
    position: absolute;
    top: 30px;
    left: 30px;

    aspect-ratio: 1/1;
    width: 33%;

    .mat-icon {
      width: 100%;
      height: 100%;
    }
  }

  .name-state {
    .entity-name {
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 600;
    }

    .entity-state {
      font-size: 24px;
      font-weight: 500;
    }
  }

  &.active {
    color: $background;
    background-color: $foreground;
  }

  &.has-action {
    &:hover {
      cursor: pointer;
      background-color: rgba($foreground, 0.05);

      &.active {
        background-color: rgba($foreground, 0.9);
      }
    }
  }
}
