@import "../../../../assets/scss/variables";

.playlist-wrapper {
  position: relative;

  width: 200px;

  .playlist-img img {
    width: 100%;

    border-radius: 10px;

    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .playlist-name {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 15px;

    text-align: center;

    color: $foreground;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba($background, 0.75);

    font-size: 20px;

    backdrop-filter: blur(4px);
  }

  &:hover {
    cursor: pointer;
  }
}
