@import "../../../../assets/scss/variables";

.playlist-wrapper {
  position: relative;
  width: 200px;
  border-radius: 10%;

  .playlist-img img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
  }

  .playlist-name {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 15px;

    font-size: 20px;
    color: $foreground;
    text-align: center;

    background-color: rgba($background, 0.75);
    backdrop-filter: blur(4px);
  }

  &:hover {
    cursor: pointer;
  }
}
