@import "src/variables";

.player-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5%;
  position: relative;

  .cover-img img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 5%;
  }

  .player-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: $foreground;
    background-color: rgba($background, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;

    .song-info {
      font-weight: 500;
      font-size: 20px;
      width: 100%;
      white-space: nowrap;
      padding: 10px 0;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
      margin-bottom: 20px;

      .controls {
        justify-content: center;
        display: flex;
        gap: 30px;
        flex-grow: 1;

        mat-icon {
          font-size: 32px;
          cursor: pointer;
        }
      }

      .volume {
        flex-grow: 1;
        .mat-mdc-slider {
          width: 100%;
        }
      }
    }

    .progress {
      width: 100%;
    }
  }
}

.mat-mdc-progress-bar {
  height: 6px !important;
  border-radius: 10px;
}
.mdc-linear-progress__bar-inner {
  border-top-width: 6px !important;
}
