<div class="group-wrapper">
  <div class="group" *ngIf="cards | loading | async as obs">
    <ng-template [ngIf]="obs.value">
      <div class="group-header">
        <div class="drag-handle" *ngIf="editMode" dndHandle>
          <mat-icon>drag_handle</mat-icon>
        </div>
        <div class="title">{{ group.title }}</div>
        <div class="actions">
          <button
            class="edit-btn"
            mat-icon-button
            color="primary"
            *ngIf="editMode"
            (click)="onEditGroup()"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="add-btn"
            mat-icon-button
            color="primary"
            *ngIf="editMode"
            (click)="onAddCard()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div
        class="card-grid"
        (swipe)="onSwipe($event, obs.value.length || 0)"
        [dndDropzone]="['card']"
        (dndDrop)="onDrop($event, obs.value)"
        dndEffectAllowed="move"
      >
        <div class="card placeholder" dndPlaceholderRef></div>
        <div
          class="card"
          *ngFor="let card of obs.value?.slice(start, end) as currCards"
          [dndDraggable]="card"
          dndType="card"
          (dndCanceled)="onDragged(group, currCards, 'none')"
          (dndCopied)="onDragged(group, currCards, 'copy')"
          (dndLinked)="onDragged(group, currCards, 'link')"
          (dndMoved)="onDragged(card, obs.value, 'move')"
          (dndStart)="onDragStart($event, card, currCards)"
          [dndDisableDragIf]="!editMode"
          dndEffectAllowed="move"
        >
          <ng-container [ngSwitch]="card.type">
            <app-entity-card
              *ngSwitchCase="'entityCard'"
              [card]="card"
            ></app-entity-card>
            <app-light-card
              *ngSwitchCase="'lightCard'"
              [card]="card"
            ></app-light-card>
            <app-tv-card *ngSwitchCase="'tvCard'" [card]="card"></app-tv-card>
            <app-speaker-card
              *ngSwitchCase="'speakerCard'"
              [card]="card"
            ></app-speaker-card>
            <app-fan-card
              *ngSwitchCase="'fanCard'"
              [card]="card"
            ></app-fan-card>
            <app-sensor-card
              *ngSwitchCase="'sensorCard'"
              [card]="card"
            ></app-sensor-card>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</div>
