<div class="card-wrapper">
  <div class="edit-actions" [class.active]="isActive" *ngIf="editMode">
    <div class="drag-handle" dndHandle>
      <mat-icon>drag_handle</mat-icon>
    </div>
    <button mat-icon-button color="primary" (click)="editCard()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div
    class="card"
    [class.active]="isActive"
    [class.has-action]="hasAction"
    [class.edit]="editMode"
    (click)="onButtonClick($event)"
    *ngIf="card.type !== 'sensorCard'; else sensorCard"
  >
    <div class="entity-icon" [class.edit]="editMode">
      <mat-icon
        class="icon"
        [class.warn]="dangerLevel === dangerLevels.Warning"
        [class.danger]="dangerLevel === dangerLevels.Danger"
        svgIcon="{{ icon }}"
      ></mat-icon>
      <mat-icon
        class="icon-active"
        [class.warn]="dangerLevel === dangerLevels.Warning"
        [class.danger]="dangerLevel === dangerLevels.Danger"
        *ngIf="isActive && iconActive"
        svgIcon="{{ iconActive }}"
      ></mat-icon>
    </div>
    <div
      class="lock-icon"
      *ngIf="card?.lock && !editMode"
      [class.unlocked]="unlocked"
    >
      <mat-icon svgIcon="lock"></mat-icon>
    </div>
    <div class="name-state">
      <div class="entity-name">{{ entityName }}</div>
      <div class="entity-state" *ngIf="stateActive">{{ entityState }}</div>
    </div>
  </div>

  <ng-template #sensorCard>
    <div class="sensor-group" [class.edit]="editMode">
      <ng-container *ngFor="let sensor of sensors | async">
        <app-sensor [sensorOptions]="sensor"></app-sensor>
      </ng-container>
    </div>
  </ng-template>
</div>
