@import "../../../../assets/scss/variables";

.recipe-page {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: $background;

  .recipe-dash {
    overflow: scroll;
    flex-grow: 1;

    padding: 50px;

    .recipe-grid {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      justify-content: center;

      width: 100%;
      height: 100%;

      gap: 50px;

      app-recipe-card {
        width: 300px;

        aspect-ratio: 1/1;
      }

      mat-paginator {
        width: 100%;

        color: $foreground;
        background-color: transparent;

        .mat-mdc-icon-button:not([disabled]) .mat-mdc-paginator-icon {
          fill: $foreground;
        }

        .mat-mdc-select-value {
          color: $foreground !important;
        }

        .mdc-text-field--outlined:not(.mdc-text-field--disabled)
          .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled)
          .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled)
          .mdc-notched-outline__trailing {
          border-color: rgba($foreground, 0.4) !important;
        }

        .mat-mdc-select-arrow {
          color: $foreground !important;
        }
      }
    }
  }
}
.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
