/* stylelint-disable selector-class-pattern */
@import "../../../../assets/scss/variables";

.add-card-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 25px 50px 50px 50px;

  color: $foreground;

  background-color: $background;
  border-radius: 15px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
    padding-top: 20px;
  }

  mat-dialog-content {
    margin-bottom: 35px;
    flex-grow: 1;

    form {
      color: $foreground;

      .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;

        &.inline {
          flex-direction: row;
          gap: 15px;
          justify-content: space-between;
          width: 50%;
          min-width: 320px;
          margin-bottom: 20px;
          margin-top: 0;

          &.checkbox-field {
            gap: 5px;
            justify-content: flex-start;
            align-items: center;

            mat-label {
              margin-bottom: 0 !important;
            }
          }
        }

        mat-label {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;

          .required-symbol {
            color: $danger;
          }
        }

        mat-form-field {
          ::placeholder,
          .mat-mdc-select-placeholder {
            color: rgba($foreground, 0.4) !important;
          }

          input,
          textarea,
          mat-select,
          .mat-mdc-select-arrow {
            color: $foreground !important;
          }

          mat-datepicker-toggle {
            color: rgba($foreground, 0.6) !important;
          }
        }

        .image-upload {
          margin-top: 10px;
          margin-bottom: 20px;
        }

        mat-checkbox {
          margin-left: 15px;

          .mdc-checkbox__background {
            border-color: rgba($foreground, 0.4) !important;
          }
        }

        mat-error {
          color: $danger;
        }
      }

      mat-expansion-panel {
        color: $foreground;
        background-color: $background;
        box-shadow: none !important;

        mat-expansion-panel-header {
          padding: 0;
        }

        mat-panel-title {
          display: inline;
          margin-right: 0;
          font-size: 18px;
          color: $foreground;
        }

        .mat-expansion-indicator::after {
          color: $foreground !important;
        }
      }

      .service-target {
        padding-left: 30px;
      }
    }
  }

  mat-divider {
    border-color: rgba($foreground, 0.2);
  }

  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 80px;

    button {
      padding: 25px 30px;
    }

    .create-btn {
      margin-left: auto;
    }

    .delete-btn {
      background-color: $danger;
    }

    .confirm-delete {
      margin: 0;
      margin-left: 20px;
      color: $danger;

      button {
        padding: 0;
        color: $danger;
      }
    }
  }

  .invalid {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: $danger;
    margin: 0;
  }
}

mat-dialog-container .mat-mdc-dialog-surface {
  background-color: $background !important;
  border-radius: 15px !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__trailing {
  border-color: rgba($foreground, 0.4) !important;

  .mat-focused & {
    border-color: $accent !important;
  }

  .mdc-text-field--invalid & {
    border-color: $danger !important;
  }
}
