// .card {
//   display: block;
//   aspect-ratio: 1/1;
//   width: calc(50% - 25px / 2);
// }
.card-grid {
          $card-gap: 15px;

          display: flex;
          flex-wrap: wrap;
          gap: $card-gap;
          align-items: flex-start;

          aspect-ratio: 1/1;
          width: 100%;

          app-entity-card,
          app-light-card,
          app-sensor-group {
            display: block;
            aspect-ratio: 1/1;
            width: calc(50% - $card-gap/2);
          }

          .card {
            display: block;
            aspect-ratio: 1/1;
            width: calc(50% - $card-gap/2);

            app-light-card,
            app-entity-card,
            app-sensor-group {
              width: 100%;
              height: 100%;
            }
          }
        }
