@import "../../../../assets/scss/variables";

.home-page {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: $background;

  .home-dash {
    overflow: scroll;
    flex-grow: 1;

    padding: 50px;

    .group-grid {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;

      width: 100%;
      height: 100%;

      $group-gap: 50px;
      gap: $group-gap;

      .group {
        position: relative;

        width: calc(25% - ($group-gap * 3 / 4));

        border-radius: 10px;

        &.edit {
          border: 2px dotted rgba($foreground, 0.25);
        }

        &.placeholder {
          background-color: rgba($foreground, 0.1);
        }

        @media screen and (max-width: $three-col-break) {
          width: calc(33% - ($group-gap * 2 / 3));
        }

        @media screen and (max-width: $two-col-break) {
          width: calc(50% - ($group-gap / 2));
        }

        @media screen and (max-width: $one-col-break) {
          width: 100%;

          &.placeholder {
            height: 100px;
          }
        }
      }
    }

    .edit-actions {
      position: absolute;
      right: 30px;
      bottom: 30px;

      button {
        width: 65px;
        height: 65px;
        margin-left: 15px;

        mat-icon {
          transform: scale(1.2);
        }
      }
    }
  }
}

.dndDragging {
  overflow: hidden;

  height: 100px;

  background-color: rgba($foreground, 0.2);
}

.dndDraggingSource {
  display: none;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
