<div class="home-page">
  <div class="dashboard home-dash" *ngIf="groups | loading | async as obs">
    <ng-template [ngIf]="obs.value">
      <div class="group-grid">
        <div class="group" [class.edit]="editMode" *ngFor="let group of obs.value">
          <div class="group-header">
            <div class="title">{{ group.title }}</div>
            <div class="actions">
              <button
                class="edit-btn"
                mat-icon-button
                color="primary"
                *ngIf="editMode"
                (click)="onAddGroup(group)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="add-btn"
                mat-icon-button
                color="primary"
                *ngIf="editMode"
                (click)="onAddCard(group.id)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <app-card-grid [cards]="group.cards"></app-card-grid>
        </div>
      </div>

      <div class="edit-actions">
        <button
          mat-fab
          color="primary"
          *ngIf="!editMode"
          (click)="toggleEdit()"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-fab color="warn" *ngIf="editMode" (click)="toggleEdit()">
          <mat-icon>close</mat-icon>
        </button>

        <button mat-fab color="primary" *ngIf="editMode" (click)="onAddGroup()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-template [ngIf]="obs.loading">
      <div class="spinner-wrapper">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
