/* stylelint-disable selector-class-pattern */
@import "../../../../assets/scss/variables";

.plant-action-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 60px;

  color: $foreground;

  background-color: $background;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 15px;
      width: 100px;
    }
  }
}

mat-dialog-container .mat-mdc-dialog-surface {
  background-color: $background !important;
  border-radius: 15px !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__trailing {
  border-color: rgba($foreground, 0.4) !important;

  .mat-focused & {
    border-color: $accent !important;
  }

  .mdc-text-field--invalid & {
    border-color: $danger !important;
  }
}
