/* stylelint-disable selector-class-pattern */
@import "../../../../assets/scss/variables";

.add-group-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 25px 50px;

  color: $foreground;

  background-color: $background;
  border-radius: 15px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  mat-dialog-content {
    margin-bottom: 35px;

    form {
      color: $foreground;

      .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;

        mat-label {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
        }

        mat-form-field {
          ::placeholder {
            color: rgba($foreground, 0.4) !important;
          }

          input,
          textarea {
            color: $foreground !important;
          }

          mat-datepicker-toggle {
            color: rgba($foreground, 0.6) !important;
          }
        }

        .image-upload {
          margin-top: 10px;
          margin-bottom: 20px;
        }

        mat-checkbox {
          margin-left: 15px;

          .mdc-checkbox__background {
            border-color: rgba($foreground, 0.4) !important;
          }
        }

        mat-error {
          color: $danger;
        }
      }

      mat-expansion-panel {
        color: $foreground;
        background-color: $background;
        box-shadow: none !important;

        mat-expansion-panel-header {
          padding: 0;
        }

        mat-panel-title {
          display: inline;
          margin-right: 0;
          font-size: 18px;
          color: $foreground;
        }

        .mat-expansion-indicator::after {
          color: $foreground !important;
        }
      }
    }
  }

  mat-divider {
    border-color: rgba($foreground, 0.2);
  }

  mat-dialog-actions {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 30px;

    button {
      padding: 25px 30px;
    }

    .create-btn {
      margin-left: auto;
    }

    .delete-btn {
      background-color: $danger;
    }

    .confirm-delete {
      margin: 0;
      margin-left: 20px;
      color: $danger;

      button {
        padding: 0;
        color: $danger;
      }
    }
  }
}

mat-dialog-container .mat-mdc-dialog-surface {
  background-color: $background !important;
  border-radius: 15px !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__trailing {
  border-color: rgba($foreground, 0.4) !important;

  .mat-focused & {
    border-color: $accent !important;
  }

  .mdc-text-field--invalid & {
    border-color: $danger !important;
  }
}
