<div class="sidebar">
  <div class="sidebar-section datetime">
    <div class="time">{{ date | date : "h:mm" }}</div>
    <div class="date">{{ date | date : "EEEE MMMM d" }}</div>
  </div>
  <div class="weather">
    {{ weather }}
  </div>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/music" routerLinkActive="active">Music</a>
    <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
  </nav>

  <mat-expansion-panel
    #deviceList
    class="active-devices"
    [disabled]="numActiveDevices < 2"
  >
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        {{ activeDeviceString }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="device-list">
      <p *ngFor="let device of activeDevices">{{ device }}</p>
    </div>
  </mat-expansion-panel>
</div>
