.sensor-group-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;

  $group-gap: 10px;
  gap: $group-gap;

  app-sensor {
    width: 100%;
    height: calc(50% - $group-gap/2);
  }
}
