@import "../../../../assets/scss/variables";

.sensor-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 15px;

  color: $foreground;

  border: 2px solid rgba($foreground, 0.2);
  border-radius: 5%;

  .entity-icon {
    aspect-ratio: 1/1;
    width: 20%;
    margin: 0 5% 0 3%;

    .mat-icon {
      width: 100%;
      height: 100%;

      &.warn {
        color: $warn;
      }

      &.danger {
        color: $danger;
      }
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    flex-grow: 1;

    .entity-name {
      margin-bottom: 5px;
      font-weight: 600;
      @include fluid-type(320px, 3000px, 12px, 28px);
    }

    .entity-state {
      font-weight: 500;
      @include fluid-type(320px, 3000px, 10px, 24px);
    }
  }
}
