@import "../../../../assets/scss/variables";

.sensor-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 15px;

  color: $foreground;
  border: 2px solid rgba($foreground, 0.2);
  border-radius: 15px;

  container-name: card;
  container-type: inline-size;

  .entity-icon {
    width: 100px;
    height: 100px;
    margin: 0 5% 0 3%;

    aspect-ratio: 1/1;

    .mat-icon {
      width: 100%;
      height: 100%;

      &.warn {
        color: $warn;
      }

      &.danger {
        color: $danger;
      }
    }
  }

  .info-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    text-align: right;

    .entity-name {
      margin-bottom: 5px;

      font-size: 24px;
      font-weight: 600;
    }

    .entity-state {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

@container card (max-width: 400px) {
  .entity-icon {
    width: 75px !important;
    height: 75px !important;
  }
}

@container card (max-width: 350px) {
  .entity-icon {
    width: 50px !important;
    height: 50px !important;
  }
}

@container card (max-width: 300px) {
  .info-wrapper {
    .entity-name {
      font-size: 20px !important;
    }

    .entity-state {
      font-size: 18px !important;
    }
  }
}

@container card (max-width: 250px) {
  .entity-icon {
    width: 40px !important;
    height: 40px !important;
  }

  .info-wrapper {
    .entity-name {
      font-size: 18px !important;
    }

    .entity-state {
      font-size: 16px !important;
    }
  }
}

@container card (max-width: 200px) {
  .entity-icon {
    width: 30px !important;
    height: 30px !important;
  }
}
