@import "../../../variables.scss";

.sidebar {
  height: 100%;
  border-right: 2px solid rgba($foreground, 0.2);
  display: flex;
  flex-direction: column;

  .datetime {
    text-align: center;
    color: $foreground;
    padding-top: 30px;

    .time {
      font-size: 80px;
      margin-bottom: 30px;
      padding-top: 30px;
    }

    .date {
      font-size: 32px;
    }
  }

  .weather {
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
    color: $foreground;
  }

  nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 15px;

    a {
      padding: 30px 0;
      text-align: center;
      color: $foreground;
      border: 2px solid rgba($foreground, 0.2);
      width: 80%;
      margin: 0 auto;
      border-radius: 10px;
      font-size: 32px;
      font-weight: 600;
      transition: 100ms ease-in-out;

      &.active {
        color: $accent;
      }

      &:hover {
        background-color: rgba($accent-lighter, 0.1);
      }
    }
  }

  .active-devices {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: $background;
    color: $foreground;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    mat-panel-title {
      display: inline;
      text-align: center;
      color: $foreground;
      margin: 0;
      font-size: 18px;
    }

    ::ng-deep .mat-expansion-indicator:after {
      color: $foreground;
    }

    ::ng-deep .mat-expansion-panel-content {
      overflow-y: auto;
    }
  }
}
