@import "../../../../assets/scss/variables";

.graph-wrapper {
  width: 100%;
  height: 100%;
  padding: 25px;

  border-radius: 15px;
  background-color: $background;

  h2 {
    padding-bottom: 10px;
    padding-left: 10px;

    color: $foreground;
  }
}

mat-dialog-container .mat-mdc-dialog-surface {
  border-radius: 15px !important;
  background-color: $background !important;
}
