$color-1: #252425;
$color-2: #D8DAE6;
$color-3: #97929C;
$color-4: #786572;
$color-5: #5F4455;
$color-6: #678A9B;
$background: $color-1;
$foreground: $color-2;
$accent: $color-6;
$accent-lighter: $color-6;
$accent-darker: $color-6;
