<div class="music-page">
  <div class="dashboard music-dash">
    <button
      mat-flat-button
      color="primary"
      type="button"
      *ngIf="!accessToken; else loggedIn"
    >
      <a href="/api/spotify/login">Spotify Login</a>
    </button>
    <ng-template #loggedIn>
      <app-media-player></app-media-player>
      <div class="playlist-cards">
        <ng-container *ngFor="let id of playlists">
          <app-playlist-card [id]="id"></app-playlist-card>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
