@import "src/variables";

.sensor-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 15px;

  color: $foreground;

  border: 2px solid rgba($foreground, 0.2);
  border-radius: 5%;

  .entity-icon {
    aspect-ratio: 1/1;
    width: 25%;
    padding-left: 10px;

    .mat-icon {
      width: 100%;
      height: 100%;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    justify-content: center;

    .entity-name {
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: 600;
    }

    .entity-state {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
