/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable scss/dollar-variable-empty-line-before */

$color-1: #252425;
$color-2: #d8dae6;
$color-3: #97929c;
$color-4: #786572;
$color-5: #5f4455;
$color-6: #678a9b;

$background: $color-1;
$foreground: $color-2;

$accent: $color-6;
$accent-lighter: #a2bac7;
$accent-darker: #335462;

$secondary: $color-5;

$danger: #bb7979;
$warn: #f1d597;

$hamburger-layer-color: $foreground;
$hamburger-layer-width: 30px;


@import "/node_modules/hamburgers/_sass/hamburgers/hamburgers";

$three-col-break: 3300px;
$two-col-break: 2000px;
$one-col-break: 1400px;
$mobile-break: 900px;

$card-break-1: calc(($three-col-break + $two-col-break) / 2);
$card-break-2: calc(($two-col-break + $one-col-break) / 2);
